
.modal.hidden {
    display: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  @media (min-width: 768px) {
    .flex-col {
      flex-direction: column;
    }
  
    .md\\:flex-row {
      flex-direction: row;
    }
  }
  